<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>com.mattsday.antipop</string>
<key>KeepAlive</key>
<false/>
<key>RunAtLoad</key>
<true/>
<key>ProgramArguments</key>
<array>
<string>/bin/bash</string>
<string>-c</string>
<string>
function getCoreaudiodPid() {
    local pid="$(ps aux | grep /usr/sbin/coreaudiod | head -1 | awk '{print $2}')"
    echo $pid
}

pid="$(getCoreaudiodPid)"
while true
do
    #get the cpu usage of coreaudiod
    usage=$(ps -p $pid -o %cpu | tail -1)

    #check if is higher than 0
    isActive="$(echo $usage'>'0 | bc)"
    if [ $isActive -eq 0 ]
    then
        #keep coreudiod active without procuding a sound
        say ' ' 
    fi
    
    sleep 1.5
done
</string>
</array>
</dict>
</plist>